In [2]:
import pandas as pd
import json

In [30]:
# Ajustar la opción para mostrar más caracteres en cada columna
pd.set_option('display.max_colwidth', None)

In [6]:
# Abrir el archivo JSON y leer línea por línea
with open(r'C:\\Users\\Pablo\\OneDrive\\Henry\\Proyecto Final\\Google Maps\\metadata-sitios\\1.json') as file:
    data = [json.loads(line) for line in file]

# Convertir la lista de diccionarios en un DataFrame
df1 = pd.DataFrame(data)

In [7]:
# Ruta al archivo JSON
ruta_json = r'C:\Users\Pablo\OneDrive\Henry\Proyecto Final\Google Maps\metadata-sitios\2.json'
# Leer el JSON en un DataFrame
df2 = pd.read_json(ruta_json, lines=True)

# Ruta al archivo JSON
ruta_json = r'C:\Users\Pablo\OneDrive\Henry\Proyecto Final\Google Maps\metadata-sitios\3.json'
# Leer el JSON en un DataFrame
df3 = pd.read_json(ruta_json, lines=True)

# Ruta al archivo JSON
ruta_json = r'C:\Users\Pablo\OneDrive\Henry\Proyecto Final\Google Maps\metadata-sitios\4.json'
# Leer el JSON en un DataFrame
df4 = pd.read_json(ruta_json, lines=True)


# Ruta al archivo JSON
ruta_json = r'C:\Users\Pablo\OneDrive\Henry\Proyecto Final\Google Maps\metadata-sitios\5.json'
# Leer el JSON en un DataFrame
df5 = pd.read_json(ruta_json, lines=True)


# Ruta al archivo JSON
ruta_json = r'C:\Users\Pablo\OneDrive\Henry\Proyecto Final\Google Maps\metadata-sitios\6.json'
# Leer el JSON en un DataFrame
df6 = pd.read_json(ruta_json, lines=True)


# Ruta al archivo JSON
ruta_json = r'C:\Users\Pablo\OneDrive\Henry\Proyecto Final\Google Maps\metadata-sitios\7.json'
# Leer el JSON en un DataFrame
df7 = pd.read_json(ruta_json, lines=True)


# Ruta al archivo JSON
ruta_json = r'C:\Users\Pablo\OneDrive\Henry\Proyecto Final\Google Maps\metadata-sitios\8.json'
# Leer el JSON en un DataFrame
df8 = pd.read_json(ruta_json, lines=True)


# Ruta al archivo JSON
ruta_json = r'C:\Users\Pablo\OneDrive\Henry\Proyecto Final\Google Maps\metadata-sitios\9.json'
# Leer el JSON en un DataFrame
df9 = pd.read_json(ruta_json, lines=True)


# Ruta al archivo JSON
ruta_json = r'C:\Users\Pablo\OneDrive\Henry\Proyecto Final\Google Maps\metadata-sitios\10.json'
# Leer el JSON en un DataFrame
df10 = pd.read_json(ruta_json, lines=True)

In [9]:
def extractCity(df):
    """
    Esta función toma un DataFrame que contiene una columna llamada 'address', 
    la cual tiene direcciones formateadas con comas. La función extrae el valor
    que está entre la segunda y tercera coma (que representa la ciudad) y lo 
    almacena en una nueva columna llamada 'city'.

    Parámetros:
    df (DataFrame): El DataFrame que contiene la columna 'address'.

    Retorna:
    DataFrame: El DataFrame original con una nueva columna 'city' que contiene 
               el valor entre la segunda y tercera coma de 'address'.
    """
    
    # Dividir la columna 'address' en partes usando la coma como delimitador
    # Luego, extraer el segundo elemento (índice 2), que está entre la segunda y tercera coma

    df['city'] = df['address'].str.split(',').str[2].str.strip()
    
    return df

In [18]:
def nulosYVacios(df):
    """
    Este procedimiento recibe un DataFrame y muestra la cantidad de valores nulos y vacíos por columna.

    Args:
    df (pd.DataFrame): El DataFrame a analizar.
    """
    print("Informe de Nulos y Vacíos:")
    print("-" * 30)

    for columna in df.columns:
        # Contar valores nulos
        nulos = df[columna].isnull().sum()
        
        # Contar valores vacíos (considerando que solo se cuentan si son cadenas)
        vacios = (df[columna] == '').sum() if df[columna].dtype == 'object' else 0

        # Total de filas
        total = len(df)

        # Calcular porcentajes
        porcentaje_nulos = (nulos / total) * 100 if total > 0 else 0
        porcentaje_vacios = (vacios / total) * 100 if total > 0 else 0

        # Imprimir resultados
        print(f"Columna: {columna}")
        print(f"  Valores Nulos: {nulos}")
        print(f"  Valores Vacíos: {vacios}")
        print(f"  Porcentaje Nulos: {porcentaje_nulos:.2f}%")
        print(f"  Porcentaje Vacíos: {porcentaje_vacios:.2f}%")
        print("-" * 30)

# Ejemplo de uso
# df1 = pd.read_csv('ruta/a/tu/archivo.csv')
# nulos_y_vacios(df1)

Análisis preliminar de calidad de datos

In [ ]:
# Obtener la ciudad donde se encuentra el sitio con reseña
extractCity(df1)
extractCity(df2)
extractCity(df3)
extractCity(df4)
extractCity(df5)
extractCity(df6)
extractCity(df7)
extractCity(df8)
extractCity(df9)
extractCity(df10)

In [36]:
def rankingFrecuenciaCiudad(df, x=10):
    """
    Este procedimiento recibe un DataFrame y un número entero x.
    Muestra en pantalla el ranking de los primeros x elementos con mayor frecuencia en la columna 'city'.

    Args:
    df (pd.DataFrame): El DataFrame a analizar.
    x (int): El número de elementos a mostrar en el ranking.
    """
    print(f"Ranking de los primeros {x} elementos más frecuentes en la columna 'city':")
    print("-" * 60)

    # Verifica si la columna 'city' existe en el DataFrame
    if 'city' in df.columns:
        # Obtener la frecuencia de cada valor en la columna 'city'
        frecuencias = df['city'].value_counts()

        # Obtener los primeros x elementos con mayor frecuencia
        ranking = frecuencias.head(x)

        # Mostrar el ranking
        for index, value in ranking.items():
            print(f"{index}: {value}")
    else:
        print("La columna 'city' no existe en el DataFrame.")

    print("-" * 60)

Frecuencia de recomendaciones por ciudad segun google Maps

In [37]:
# Obtener la frecuencia de cada valor en la columna 'city'
rankingFrecuenciaCiudad(df1)

Ranking de los primeros 10 elementos más frecuentes en la columna 'city':
------------------------------------------------------------
Houston: 2599
New York: 1903
Chicago: 1799
Los Angeles: 1663
Brooklyn: 1550
San Antonio: 1200
Dallas: 1154
Miami: 1139
Las Vegas: 1089
Philadelphia: 1044
------------------------------------------------------------

In [30]:
rankingFrecuenciaCiudad(df2)

Ranking de los primeros 10 elementos más frecuentes en la columna 'city':
------------------------------------------------------------
Houston: 2640
New York: 1772
Chicago: 1717
Los Angeles: 1486
Brooklyn: 1443
Las Vegas: 1207
San Antonio: 1205
Miami: 1178
Dallas: 1166
Philadelphia: 1116
------------------------------------------------------------

In [32]:
rankingFrecuenciaCiudad(df3)

Ranking de los primeros 10 elementos más frecuentes en la columna 'city':
------------------------------------------------------------
Houston: 2669
New York: 1873
Chicago: 1737
Los Angeles: 1590
Brooklyn: 1586
Miami: 1288
Dallas: 1237
San Antonio: 1199
Las Vegas: 1109
Philadelphia: 1085
------------------------------------------------------------

In [33]:
rankingFrecuenciaCiudad(df4)
rankingFrecuenciaCiudad(df5)
rankingFrecuenciaCiudad(df6)
rankingFrecuenciaCiudad(df7)
rankingFrecuenciaCiudad(df8)
rankingFrecuenciaCiudad(df9)
rankingFrecuenciaCiudad(df10)

Ranking de los primeros 10 elementos más frecuentes en la columna 'city':
------------------------------------------------------------
Houston: 2511
New York: 1855
Los Angeles: 1713
Chicago: 1679
Brooklyn: 1596
Miami: 1337
San Antonio: 1249
Las Vegas: 1229
Philadelphia: 1204
Dallas: 1143
------------------------------------------------------------
Ranking de los primeros 10 elementos más frecuentes en la columna 'city':
------------------------------------------------------------
Houston: 2504
New York: 1825
Chicago: 1763
Los Angeles: 1625
Brooklyn: 1610
San Antonio: 1299
Dallas: 1185
Miami: 1148
Phoenix: 1071
Philadelphia: 1051
------------------------------------------------------------
Ranking de los primeros 10 elementos más frecuentes en la columna 'city':
------------------------------------------------------------
Houston: 2598
Chicago: 1812
New York: 1810
Brooklyn: 1636
Los Angeles: 1401
San Antonio: 1366
Dallas: 1288
Miami: 1232
Las Vegas: 1172
Phoenix: 1119
------------------------------------------------------------
Ranking de los primeros 10 elementos más frecuentes en la columna 'city':
------------------------------------------------------------
Houston: 2714
New York: 1921
Chicago: 1651
Brooklyn: 1515
Los Angeles: 1485
San Antonio: 1374
Dallas: 1200
Philadelphia: 1191
Miami: 1184
Las Vegas: 1136
------------------------------------------------------------
Ranking de los primeros 10 elementos más frecuentes en la columna 'city':
------------------------------------------------------------
Houston: 2898
New York: 1990
Chicago: 1927
San Antonio: 1691
Brooklyn: 1501
Los Angeles: 1458
Dallas: 1341
Las Vegas: 1302
Miami: 1297
Philadelphia: 1271
------------------------------------------------------------
Ranking de los primeros 10 elementos más frecuentes en la columna 'city':
------------------------------------------------------------
Houston: 2686
New York: 2018
Chicago: 1821
Los Angeles: 1558
Brooklyn: 1539
Dallas: 1317
Las Vegas: 1307
San Antonio: 1304
San Diego: 1111
Philadelphia: 1100
------------------------------------------------------------
Ranking de los primeros 10 elementos más frecuentes en la columna 'city':
------------------------------------------------------------
Houston: 2899
Chicago: 2144
New York: 1935
Los Angeles: 1602
Brooklyn: 1525
San Antonio: 1473
Las Vegas: 1348
Dallas: 1223
Phoenix: 1167
Jacksonville: 1135
------------------------------------------------------------

In [8]:
# Eliminar las columnas 'url', 'relative_results', 'state' y 'price'
df_cleaned = df1.drop(columns=['url', 'relative_results', 'state', 'price'])

# Ver las primeras filas del DataFrame limpio
print(df_cleaned.head())

               name                                            address  \
0   Porter Pharmacy  Porter Pharmacy, 129 N Second St, Cochran, GA ...
1      City Textile  City Textile, 3001 E Pico Blvd, Los Angeles, C...
2      San Soo Dang  San Soo Dang, 761 S Vermont Ave, Los Angeles, ...
3      Nova Fabrics  Nova Fabrics, 2200 E 11th St, Los Angeles, CA ...
4  Nobel Textile Co  Nobel Textile Co, 719 E 9th St, Los Angeles, C...

                                 gmap_id description   latitude   longitude  \
0  0x88f16e41928ff687:0x883dad4fd048e8f8        None  32.388300  -83.357100
1  0x80c2c98c0e3c16fd:0x29ec8a728764fdf9        None  34.018891 -118.215290
2  0x80c2c778e3b73d33:0xbdc58662a4a97d49        None  34.058092 -118.292130
3   0x80c2c89923b27a41:0x32041559418d447        None  34.023669 -118.232930
4  0x80c2c632f933b073:0xc31785961fe826a6        None  34.036694 -118.249421

              category  avg_rating  num_of_reviews  \
0           [Pharmacy]         4.9              16
1   [Textile exporter]         4.5               6
2  [Korean restaurant]         4.4              18
3       [Fabric store]         3.3               6
4       [Fabric store]         4.3               7

                                               hours  \
0  [[Friday, 8AM–6PM], [Saturday, 8AM–12PM], [Sun...
1                                               None
2  [[Thursday, 6:30AM–6PM], [Friday, 6:30AM–6PM],...
3  [[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...
4  [[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...

                                                MISC
0  {'Service options': ['In-store shopping', 'Sam...
1                                               None
2  {'Service options': ['Takeout', 'Dine-in', 'De...
3  {'Service options': ['In-store shopping'], 'Pa...
4           {'Service options': ['In-store pickup']}

In [13]:
print(df_cleaned['MISC'][0])

{'Service options': ['In-store shopping', 'Same-day delivery'], 'Health & safety': ['Mask required', 'Staff required to disinfect surfaces between visits'], 'Accessibility': ['Wheelchair accessible entrance'], 'Planning': ['Quick visit']}

In [19]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275001 entries, 0 to 275000
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            274994 non-null  object
 1   address         264939 non-null  object
 2   gmap_id         275001 non-null  object
 3   description     13155 non-null   object
 4   latitude        275001 non-null  float64
 5   longitude       275001 non-null  float64
 6   category        272740 non-null  object
 7   avg_rating      275001 non-null  float64
 8   num_of_reviews  275001 non-null  int64
 9   hours           192448 non-null  object
 10  MISC            194972 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 23.1+ MB

In [14]:
# Normaliza la columna MISC
# 1. Primero, crea un nuevo DataFrame a partir de la columna MISC
df_misc_normalized = pd.json_normalize(df_cleaned['MISC'])

# 2. Combina el DataFrame normalizado con gmap_id
# Añade la columna gmap_id al DataFrame normalizado
df_misc_normalized['gmap_id'] = df_cleaned['gmap_id']

# 3. Si deseas ver el resultado
print(df_misc_normalized.head())

                          Service options  \
0  [In-store shopping, Same-day delivery]
1                                     NaN
2            [Takeout, Dine-in, Delivery]
3                     [In-store shopping]
4                       [In-store pickup]

                                     Health & safety  \
0  [Mask required, Staff required to disinfect su...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                      Accessibility       Planning       Offerings  \
0  [Wheelchair accessible entrance]  [Quick visit]             NaN
1                               NaN            NaN             NaN
2  [Wheelchair accessible entrance]            NaN  [Comfort food]
3                               NaN            NaN             NaN
4                               NaN            NaN             NaN

         Amenities Atmosphere                             Payments  \
0              NaN        NaN                                  NaN
1              NaN        NaN                                  NaN
2  [Good for kids]   [Casual]                                  NaN
3              NaN        NaN  [Checks, Debit cards, Credit cards]
4              NaN        NaN                                  NaN

  Popular for Dining options Crowd From the business Highlights Recycling  \
0         NaN            NaN   NaN               NaN        NaN       NaN
1         NaN            NaN   NaN               NaN        NaN       NaN
2         NaN            NaN   NaN               NaN        NaN       NaN
3         NaN            NaN   NaN               NaN        NaN       NaN
4         NaN            NaN   NaN               NaN        NaN       NaN

  Getting here Activities                                gmap_id
0          NaN        NaN  0x88f16e41928ff687:0x883dad4fd048e8f8
1          NaN        NaN  0x80c2c98c0e3c16fd:0x29ec8a728764fdf9
2          NaN        NaN  0x80c2c778e3b73d33:0xbdc58662a4a97d49
3          NaN        NaN   0x80c2c89923b27a41:0x32041559418d447
4          NaN        NaN  0x80c2c632f933b073:0xc31785961fe826a6

In [17]:
# Supongamos que hay una clave 'Service options' en el DataFrame normalizado
if 'Service options' in df_misc_normalized.columns:
    df_exploded = df_misc_normalized.explode('Service options')
    print(df_exploded.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275001 entries, 0 to 275000
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Service options    64020 non-null   object
 1   Health & safety    24998 non-null   object
 2   Accessibility      158685 non-null  object
 3   Planning           62652 non-null   object
 4   Offerings          24728 non-null   object
 5   Amenities          35529 non-null   object
 6   Atmosphere         9758 non-null    object
 7   Payments           22117 non-null   object
 8   Popular for        6643 non-null    object
 9   Dining options     6297 non-null    object
 10  Crowd              6962 non-null    object
 11  From the business  8699 non-null    object
 12  Highlights         12086 non-null   object
 13  Recycling          125 non-null     object
 14  Getting here       129 non-null     object
 15  Activities         28 non-null      object
 16  gmap_id            275001 non-null  object
dtypes: object(17)
memory usage: 35.7+ MB